// =============================
// global.scss
// =============================
// Used for single page styles.

.page {

    justify-self: center;
    margin: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
        max-width: 100%;
    }

    &__main {
        color: var(--c-pageText);
    }

    &__comment {
        width: 100%;
    }
}
